<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="FiscalDb"
		     providerName="System.Data.SqlClient"
		     connectionString="Data Source=(local);Initial Catalog=FiscalServiceDb;Integrated Security=True;MultipleActiveResultSets=True" />
	</connectionStrings>
	<appSettings>
		<add key="DriverProfile" value="Pilot" /> <!-- Pilot | Atol | ... -->
		<add key="TcpPort" value="5055" />
	</appSettings>

	<system.serviceModel>
		<services>
			<service name="DriverWindowsService.RemoteDriverService" behaviorConfiguration="ServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000/RemoteDriverService" />
					</baseAddresses>
				</host>
				<endpoint address=""
				          binding="netTcpBinding"
				          bindingConfiguration="TcpBinding"
				          contract="Shared.Contracts.IRemoteDriverService" />
				<endpoint address="mex"
				          binding="mexTcpBinding"
				          contract="IMetadataExchange" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="TcpBinding" maxReceivedMessageSize="65536">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>